{% load static %}
<header id="main-header" class="text-light" style="background-image: url('{% static 'header.jpg' %}');">
    <div class="overlay"></div>
    <div class="content text-center">
        <h1 class="display-4">Buy Gigs On The Go</h1>
        <p>Explore The Marketplace Now.</p>
        <form class="d-flex mx-4">
            <input class="form-control rounded-0" type="search" placeholder="Search The Marketplace" aria-label="Search">
            <button class="btn btn-success rounded-0" type="submit">Search</button>
        </form>
    </div>
</header>