{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block ExtraCss %}
{% endblock ExtraCss %}


{% block content %}
{% block header %}
{% endblock header %}

<section class="container">
  <div class="content-section">
    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="mb-4">Log In!</legend>
        {{ form|crispy }}
      </fieldset>
      <div class="form-group pt-3">
        <button class="btn btn-outline-info " type="submit">Log In</button>
      </div>
      <div class="pt-3">
        <small class="text-muted">
          Need an account ? <a class="ml-2" href="{% url 'users:RegisterView' %}">Sign Up Now</a>
        </small>
      </div>
    </form>
  </div>
</section>

{% endblock content %}


{% block ExtraJs %}
{% endblock ExtraJs %}